.registration-container {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }


  .social-login {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
    margin-bottom: 10px;
    
    .social-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;
      text-decoration: none;
      color: #262525f9;

      svg {
        margin-right: 5px; ;
      }
    }
  }

  .login-btns{
    padding: 10px 20px;
    border: 1px solid rgb(204, 197, 197);
    border-radius: 10px;
    margin-right: 10px;

    &:hover{
      background-color: #ddd;
    }
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 15px;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;

      border-color: #007bff;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }

  

  p {
    text-align: center;
    margin-top: 15px;

    a {
      text-decoration: none;
      color: #007bff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
