.footer {
  margin-top: 6%;
  padding-top: calc(2 * 4px); 
  padding-bottom: calc(2 * 4px);
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;

  @media (prefers-color-scheme: dark) {
    background-color: #222;
    border-top-color: #333;
  }
}

/* Styles for link class */
.link {
  display: block;
  color: #666;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    color: #ddd;
  }
}

/* Styles for title class */
.title {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Greycliff CF', sans-serif;
  margin-bottom: 8px;
  color: #000;

  @media (prefers-color-scheme: dark) {
    color: #fff;
  }
}

/* Styles for wrapper class */
.wrapper {
  width: 160px;
}

/* Styles for logo-text class */
.logo-text {
  font-size: 18px;
  // font-weight: bold;
  color: #007bff;
  text-decoration: none;

  &:hover {
    color: #0056b3;
  }
}

/* Styles for description class */
.description {
  margin-top: 5px;
  text-align: center;
  color: #666;
  font-size: 14px;
  font-weight: lighter;
  width: 250px;
  


  // @media (prefers-color-scheme: dark) {
  //   // color: #ddd;
  // }

  // @media (max-width: 576px) {
  //     margin-top: 5px;
  //     text-align: center;
  //   }
}

/* Styles for inner class */
.inner {
  display: flex;
  justify-content: space-between;
  // color: #666;

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
  }
}

/* Styles for groups class */
.groups {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 576px) {
  //   display: none;
  }
}

/* Styles for after-footer class */
.after-footer {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-top: 90px;
  padding-bottom: 30px;
  border-top: 1px solid #ccc;

  @media (prefers-color-scheme: dark) {
    border-top-color: #333;
  }

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

/* Styles for copy-right class */
.copy-right {
  color: #999;
  font-size: 12px;

  @media (prefers-color-scheme: dark) {
    color: #ddd;
  }
}

/* Styles for social-link class */
.social-link {
  /* Add your styles for social links here */
}





// // Define your SCSS styles
// .footer {
//   // margin-top: 120px;
//   border-top: 1px solid #ccc; /* Adjust border color as needed */
// }

// .inner {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding-top: 1.5rem; /* Adjust padding as needed */
//   padding-bottom: 1.5rem; /* Adjust padding as needed */

//   @media (max-width: 575.98px) {
//     flex-direction: column;
//   }
// }

// .links {
//   @media (max-width: 575.98px) {
//     margin-top: 1rem; /* Adjust margin as needed */
//   }

//   a {
//     margin-right: 1rem; /* Adjust margin as needed */
//     font-size: 1.05rem; /* Adjust font size as needed */
//     text-decoration: none;
//     color: #333; /* Adjust color as needed */

//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }